body {
  background:#2ECC71;
  font-size:16pt;
  color:whitw;
}
.jumbotron {
  background:#2EFF71;
}
.jumbotron h1 {
  color:white;
}
h1 h2 {
  margin-left:20px;
}
.jumbotron h2 {
  color:black;
}
#logo {
  max-width:50%;
}
